Repository untitled114/lunara-sports: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-api, pytest-ingestion

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pytest-api
        name: pytest api (75% coverage)
        entry: bash -c 'cd api && python3 -m pytest tests/ -q --tb=short --no-header --cov=src --cov-fail-under=75'
        language: system
        pass_filenames: false
        files: ^api/
        types: [python]

      - id: pytest-ingestion
        name: pytest ingestion (75% coverage)
        entry: bash -c 'cd ingestion && python3 -m pytest tests/ -q --tb=short --no-header --cov=src --cov-fail-under=75'
        language: system
        pass_filenames: false
        files: ^ingestion/
        types: [python]

fix: add Cloud Run health server to Cephalon Lumen
  lumen-bot/bot.py
Due: none

refactor: scope Lumen to live tracking only (Axiom handles summaries)
  lumen-bot/bot.py
  lumen-bot/config.yaml
  lumen-bot/ws_listener.py
Due: none

feat: mid-game hit detection for Lumen pick alerts
  lumen-bot/formatter.py
  lumen-bot/ws_listener.py
Due: none

fix: point Lumen heartbeat to Atlas on Hetzner via env var
  lumen-bot/bot.py
Due: none

fix: downgrade transient network errors from ERROR to WARNING
  api/src/services/espn_client.py
  api/src/services/pick_sync_poller.py
  api/src/services/pick_sync_service.py
  api/src/services/pick_tracker_poller.py
  api/src/services/scoreboard_poller.py
  api/src/ws/play_poller.py
  ingestion/src/__main__.py
  ingestion/src/producers/pubsub_producer.py
  ingestion/tests/test_pubsub_producer.py
  scripts/gcp-setup.sh
Due: pytest-api, pytest-ingestion

refactor: remove all Hetzner references, point to GCP
  .env.vercel.example
  Makefile
  api/src/config.py
  api/src/routers/picks.py
  api/src/services/pick_sync_service.py
  docs/ARCHITECTURE.md
  docs/SPORT_SUITE_INTEGRATION.md
  docs/next/05-GCP-MIGRATION.md
  docs/next/07-LUMEN-LIVE-TRACKER.md
  ingestion/src/__main__.py
  scripts/gcp-setup.sh
Due: pytest-api, pytest-ingestion

fix: correct Sport-Suite API field mapping for pick sync
  api/src/routers/picks.py
  api/src/services/pick_sync_service.py
  api/src/services/pick_tracker_poller.py
  api/tests/test_pick_sync_service.py
  api/tests/test_pick_tracker_poller.py
  frontend/src/components/sport/PickCard.jsx
  frontend/src/hooks/useScoreboard.js
  frontend/src/pages/PicksPage.jsx
Due: pytest-api

fix: harden Lumen bot against None/zero pick data
  lumen-bot/formatter.py
  lumen-bot/ws_listener.py
Due: none

feat: Lumen Game-Time Copilot — real-time pick intelligence engine
  .gitignore
  lumen-bot/bot.py
  lumen-bot/config.yaml
  lumen-bot/formatter.py
  lumen-bot/game_context.py
  lumen-bot/game_log.py
  lumen-bot/intelligence.py
  lumen-bot/tests/__init__.py
  lumen-bot/tests/test_game_context.py
  lumen-bot/tests/test_intelligence.py
  lumen-bot/ws_listener.py
Due: none

feat: Cephalon Lumen gains a neural link — Claude AI brain + CI/CD autopilot
  .github/workflows/ci.yml
  .gitignore
  lumen-bot/bot.py
  lumen-bot/brain.py
  lumen-bot/config.yaml
  lumen-bot/lumen_tools.py
  lumen-bot/pyproject.toml
  scripts/gcp-setup.sh
Due: none

fix: handle Goldmine picks in pick sync — fallback field mapping
  api/src/services/pick_sync_service.py
Due: pytest-api

fix: pick sync game matching — use UTC time window instead of AT TIME ZONE
  api/src/services/pick_sync_poller.py
  api/src/services/pick_sync_service.py
Due: pytest-api

feat: admin dashboard, Redis hardening, stats efficiency categories, 96% test coverage
  .github/workflows/ci.yml
  .gitignore
  api/src/services/stats_service.py
  api/tests/test_auth_router.py
  api/tests/test_comment_service.py
  api/tests/test_coverage_push.py
  api/tests/test_game_service.py
  api/tests/test_kafka_consumer.py
  api/tests/test_main.py
  api/tests/test_olap_poller.py
  api/tests/test_pick_sync_service.py
  api/tests/test_pick_tracker.py
  api/tests/test_pick_tracker_poll.py
  api/tests/test_picks_router.py
  api/tests/test_play_poller_extra.py
  api/tests/test_players_router.py
  api/tests/test_prediction_service.py
  api/tests/test_predictions_router.py
  api/tests/test_reactions_router.py
  api/tests/test_session.py
  api/tests/test_session_extra.py
  api/tests/test_stats_extra.py
  api/tests/test_stats_pct.py
  api/tests/test_team_service.py
  api/tests/test_teams_router.py
  frontend/src/App.jsx
  frontend/src/pages/AdminPage.jsx
Due: pytest-api

fix: update Metabase public dashboard embed URL
  frontend/src/pages/AdminPage.jsx
Due: none

fix(admin): Analytics tab embeds the new Sport-suite Analytics dashboard
  frontend/src/pages/AdminPage.jsx
Due: none

fix(ci): pin ruff below 0.17 and give lumen-bot an explicit lint rule set
  api/pyproject.toml
  ingestion/pyproject.toml
  lumen-bot/brain.py
  lumen-bot/game_context.py
  lumen-bot/game_log.py
  lumen-bot/pyproject.toml
  lumen-bot/tests/test_game_context.py
  lumen-bot/ws_listener.py
Due: none

docs(migration): Lunara backend to OCI design and tests-first plan
  docs/superpowers/plans/2026-09-24-lunara-oci-migration.md
  docs/superpowers/specs/2026-09-24-lunara-oci-migration-design.md
Due: none

test(ci): measure line+branch coverage in all Python services
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  api/pyproject.toml
  ingestion/pyproject.toml
  lumen-bot/pyproject.toml
Due: none

test(ingestion): PostgresSink behavior (xfail until Task 8)
  ingestion/tests/test_postgres_sink.py
Due: pytest-ingestion

test(ingestion): ESPN proxy fallback behavior (xfail until Task 9)
  ingestion/tests/test_espn_http.py
Due: pytest-ingestion

test(ingestion): sink/http wiring (xfail until Task 10)
  ingestion/tests/test_main_sink_wiring.py
Due: pytest-ingestion

test(api): no-Kafka and local OLAP export (xfail until Tasks 11-12)
  api/tests/test_no_kafka.py
  api/tests/test_olap_local.py
Due: pytest-api

fix(api): patch the live_feed manager singleton, not a router-local name
  api/tests/conftest.py
  api/tests/test_no_kafka.py
Due: pytest-api

chore(lumen): add test deps, enable auto asyncio mode
  lumen-bot/pyproject.toml
Due: none

test(lumen): add shared fixtures; strict-xfail URL override tests
  lumen-bot/tests/conftest.py
  lumen-bot/tests/test_settings.py
Due: none

test(lumen): characterize formatter, game_log, brain, lumen_tools
  lumen-bot/tests/test_brain.py
  lumen-bot/tests/test_formatter.py
  lumen-bot/tests/test_game_log.py
  lumen-bot/tests/test_lumen_tools.py
Due: none

test(lumen): characterize ws_listener
  lumen-bot/tests/test_ws_listener.py
Due: none

test(lumen): characterize all modules; URL override pending
  lumen-bot/tests/test_bot.py
  lumen-bot/tests/test_game_context.py
  lumen-bot/tests/test_intelligence.py
Due: none

test(lumen): fix round 1 — isolate default log dir, add real assertions
  lumen-bot/tests/conftest.py
  lumen-bot/tests/test_bot.py
  lumen-bot/tests/test_brain.py
  lumen-bot/tests/test_game_log.py
  lumen-bot/tests/test_ws_listener.py
Due: none

test(ingestion): characterize main-loop, scoreboard-CLI and collector gaps
  ingestion/tests/test_backfill.py
  ingestion/tests/test_collectors_ext.py
  ingestion/tests/test_main_health.py
  ingestion/tests/test_main_orchestrator.py
  ingestion/tests/test_playbyplay.py
  ingestion/tests/test_scoreboard.py
  ingestion/tests/test_scoreboard_cli.py
Due: pytest-ingestion

feat(deploy): OCI systemd units, nginx site and Redis for Lunara
  deploy/__init__.py
  deploy/oci/__init__.py
  deploy/oci/cephalon-lumen.service
  deploy/oci/docker-compose.redis.yml
  deploy/oci/lunara-api.service
  deploy/oci/lunara-ingestion.service
  deploy/oci/nginx-api.lunara-app.com.conf
  deploy/tests/__init__.py
  deploy/tests/test_artifacts.py
Due: none

feat(lumen): LUNARA_API_URL/LUNARA_WS_URL override config.yaml
  lumen-bot/bot.py
  lumen-bot/settings.py
  lumen-bot/tests/test_bot.py
  lumen-bot/tests/test_settings.py
Due: none

test(api): characterize service/router gaps toward 99.1%; fix coverage measurement
  api/pyproject.toml
  api/tests/test_boxscore_service.py
  api/tests/test_comment_service.py
  api/tests/test_espn_client.py
  api/tests/test_gap_coverage.py
  api/tests/test_main.py
  api/tests/test_pick_sync_poller.py
  api/tests/test_pick_sync_service.py
  api/tests/test_pick_tracker_poller.py
  api/tests/test_play_poller.py
  api/tests/test_play_poller_extra.py
  api/tests/test_player_service.py
  api/tests/test_pollers.py
  api/tests/test_prediction_service.py
  api/tests/test_reaction_service.py
  api/tests/test_scoreboard_poller_ext.py
  api/tests/test_session_extra.py
  api/tests/test_standings_service.py
  api/tests/test_stats_extra.py
  api/tests/test_stats_pct.py
  api/tests/test_team_logos.py
  api/tests/test_team_service.py
  api/tests/test_websocket.py
Due: pytest-api

fix(lumen): compute "today" in America/New_York (game log, rate limiter, history clear)
  lumen-bot/bot.py
  lumen-bot/brain.py
  lumen-bot/game_log.py
  lumen-bot/tests/test_bot.py
  lumen-bot/tests/test_brain.py
  lumen-bot/tests/test_game_log.py
Due: none

feat(deploy): provision.sh and deploy.sh for Lunara on OCI, with runbook
  deploy/oci/README.md
  deploy/oci/deploy.sh
  deploy/oci/lib.sh
  deploy/oci/provision.sh
  deploy/oci/remote/common.sh
  deploy/oci/remote/deploy.sh
  deploy/oci/remote/provision.sh
  deploy/oci/sql/bootstrap_role_db.sql
Due: none
