Repository untitled114/lunara-sports: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-api, pytest-ingestion

pytest-api:
  name: pytest api (75% coverage)
  entry: bash -c 'cd api && python3 -m pytest tests/ -q --tb=short --no-header --cov=src --cov-fail-under=75'
  language: system
  pass_filenames: false

pytest-ingestion:
  name: pytest ingestion (75% coverage)
  entry: bash -c 'cd ingestion && python3 -m pytest tests/ -q --tb=short --no-header --cov=src --cov-fail-under=75'
  language: system
  pass_filenames: false

feat(deploy): reusable live-slate go/no-go check
  deploy/oci/live_slate_check.py
  deploy/tests/test_live_slate_check.py
Due: none

feat(deploy): api origin TLS on 443 via Cloudflare Origin CA; teams DB gate
  deploy/oci/README.md
  deploy/oci/install_origin_cert.sh
  deploy/oci/nginx-api.lunara-app.com.conf
  deploy/oci/provision.sh
  deploy/oci/remote/common.sh
  deploy/oci/remote/deploy.sh
  deploy/oci/remote/provision.sh
  deploy/tests/test_artifacts.py
Due: none

feat(ingestion): direct ESPN with IPRoyal fallback and cooldown
  ingestion/src/http/__init__.py
  ingestion/src/http/espn.py
  ingestion/tests/test_espn_http.py
Due: pytest-ingestion

fix(lumen): ET current-time context; health server binds localhost
  lumen-bot/bot.py
  lumen-bot/tests/test_bot.py
Due: none

fix(ingestion): re-engage proxy immediately when a post-cooldown probe is blocked
  ingestion/src/http/espn.py
  ingestion/tests/test_espn_http.py
Due: pytest-ingestion

test(api): fix round 1 — real assertions, correct branch, py3.12 recheck
  api/tests/test_espn_client.py
  api/tests/test_gap_coverage.py
  api/tests/test_main.py
  api/tests/test_pick_sync_poller.py
  api/tests/test_picks_router.py
  api/tests/test_scoreboard_poller_ext.py
  api/tests/test_websocket.py
Due: pytest-api

feat(ingestion): PostgresSink writes games/plays directly; widen plays.event_type
  ingestion/pyproject.toml
  ingestion/src/sinks/__init__.py
  ingestion/src/sinks/base.py
  ingestion/src/sinks/postgres.py
  ingestion/tests/test_postgres_sink.py
  storage/postgres/migrations/012_widen_play_event_type.sql
Due: pytest-ingestion

fix(deploy): preflight-first releases with symlink swap and rollback, SCRAM verifier, nginx gates
  deploy/oci/README.md
  deploy/oci/deploy.sh
  deploy/oci/lib.sh
  deploy/oci/live_slate_check.py
  deploy/oci/nginx-000-lunara-default-443.conf
  deploy/oci/nginx-api.lunara-app.com.conf
  deploy/oci/remote/common.sh
  deploy/oci/remote/deploy.sh
  deploy/oci/remote/provision.sh
  deploy/oci/sql/bootstrap_role_db.sql
  deploy/tests/test_artifacts.py
  deploy/tests/test_live_slate_check.py
Due: none

test(ingestion): cover PostgresSink transient-error classes and per-row transaction fallback (R1-R3)
  ingestion/tests/test_postgres_sink.py
Due: pytest-ingestion

fix(deploy): fail on unreachable admin baseline, best-effort rollback, disarm before bookkeeping
  deploy/oci/README.md
  deploy/oci/remote/deploy.sh
  deploy/tests/test_remote_deploy_flow.py
Due: none

fix(ingestion): serialize PostgresSink flushes and fix concurrent-flush data loss
  ingestion/src/sinks/postgres.py
  ingestion/tests/test_postgres_sink.py
Due: pytest-ingestion

refactor(ingestion): collectors use EventSink + shared EspnHttp; no Kafka/PubSub
  ingestion/src/__main__.py
  ingestion/src/backfill.py
  ingestion/src/collectors/base.py
  ingestion/src/collectors/historical.py
  ingestion/src/collectors/playbyplay.py
  ingestion/src/collectors/scoreboard.py
  ingestion/src/config.py
  ingestion/tests/test_backfill.py
  ingestion/tests/test_collectors_ext.py
  ingestion/tests/test_historical.py
  ingestion/tests/test_main_health.py
  ingestion/tests/test_main_orchestrator.py
  ingestion/tests/test_main_sink_wiring.py
  ingestion/tests/test_scoreboard_cli.py
Due: pytest-ingestion

chore(ingestion): retire Kafka/PubSub producers (owner-approved, R4)
  ingestion/pyproject.toml
  ingestion/src/producers/__init__.py
  ingestion/src/producers/kafka_producer.py
  ingestion/src/producers/pubsub_producer.py
  ingestion/tests/test_kafka_producer.py
  ingestion/tests/test_pubsub_producer.py
Due: pytest-ingestion

refactor(api): broadcast reactions directly; no Kafka
  api/Dockerfile
  api/src/config.py
  api/src/kafka/__init__.py
  api/src/kafka/consumer.py
  api/src/kafka/dead_letter.py
  api/src/kafka/producer.py
  api/src/main.py
  api/src/metrics.py
  api/src/routers/predictions.py
  api/src/routers/reactions.py
  api/tests/conftest.py
  api/tests/test_kafka_api.py
  api/tests/test_kafka_consumer.py
  api/tests/test_main.py
  api/tests/test_no_kafka.py
  api/tests/test_picks_router.py
  api/tests/test_predictions_router.py
  api/tests/test_reactions_router.py
Due: pytest-api

feat(api): OLAP Parquet export to a local directory (no GCS)
  api/pyproject.toml
  api/src/config.py
  api/src/main.py
  api/src/services/olap_exporter.py
  api/src/services/olap_poller.py
  api/tests/test_coverage_push.py
  api/tests/test_no_kafka.py
  api/tests/test_olap.py
  api/tests/test_olap_local.py
  api/tests/test_olap_poller.py
Due: pytest-api

fix(ingestion): requeue PostgresSink snapshot on cancellation, not just exceptions
  ingestion/src/sinks/postgres.py
  ingestion/tests/test_postgres_sink.py
Due: pytest-ingestion

fix(ingestion): exit on SIGTERM, final PBP poll, skip malformed plays
  ingestion/src/__main__.py
  ingestion/src/collectors/playbyplay.py
  ingestion/tests/test_collectors_ext.py
  ingestion/tests/test_main_health.py
  ingestion/tests/test_main_orchestrator.py
Due: pytest-ingestion

refactor(api): extract poll_once(session_factory) from the play poller loop
  api/src/ws/play_poller.py
  api/tests/test_play_poller_extra.py
  tests/integration/mock_espn.py
  tests/integration/test_dlq.py
  tests/integration/test_pipeline_e2e.py
  tests/integration/test_retry_integration.py
Due: pytest-api

test(integration): sink to Postgres to WebSocket on a real database
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/db_guard.py
  tests/integration/test_aliases.py
  tests/integration/test_db_guard.py
  tests/integration/test_sink_to_api.py
Due: none

chore(ci): run the integration tests against a postgres:16 service
  .github/workflows/ci.yml
Due: none

refactor(api): drop the retired Sport-suite DB pool branches (owner-approved)
  api/src/config.py
  api/src/db/sport_suite.py
  api/src/main.py
  api/src/services/stats_service.py
  api/src/services/team_service.py
  api/tests/test_infrastructure.py
  api/tests/test_main.py
  api/tests/test_stats_extra.py
  api/tests/test_stats_pct.py
  api/tests/test_stats_service.py
  api/tests/test_team_service.py
Due: pytest-api

docs: rewrite README architecture for the single-event-path OCI backend
  README.md
Due: none

fix(deploy): run lunara-user steps with its own HOME (uv config permission)
  deploy/oci/remote/common.sh
  deploy/oci/remote/deploy.sh
  deploy/oci/remote/provision.sh
  deploy/tests/test_remote_deploy_flow.py
Due: none

fix(ci): give each Python service its own venv to stop src collisions
  .env.render.example
  .github/workflows/ci.yml
  Makefile
  monitoring/grafana/provisioning/dashboards/overview.json
Due: none

test(ci): enforce 99.1% line+branch coverage in all Python services
  api/pyproject.toml
  ingestion/pyproject.toml
  lumen-bot/pyproject.toml
Due: none

fix(storage): widen plays.team to VARCHAR(5) so Utah (UTAH) plays are kept
  api/src/db/models.py
  api/tests/test_schema_widths.py
  ingestion/tests/test_postgres_sink.py
  storage/postgres/migrations/013_widen_play_team.sql
  tests/integration/test_sink_to_api.py
Due: pytest-api, pytest-ingestion

fix(api): keep live WebSocket broadcasts correct under join/leave churn
  api/src/ws/live_feed.py
  api/src/ws/play_poller.py
  api/tests/test_ws_live_races.py
Due: pytest-api

fix(api): compute every "today" in America/New_York, not a fixed UTC-5
  api/src/eastern.py
  api/src/main.py
  api/src/routers/picks.py
  api/src/services/game_service.py
  api/src/services/pick_sync_poller.py
  api/src/services/pick_tracker_poller.py
  api/src/services/scoreboard_poller.py
  api/tests/test_eastern_today.py
  api/tests/test_game_service.py
Due: pytest-api

fix(ingestion): a sink flush that finds another in flight returns at once
  ingestion/src/sinks/postgres.py
  ingestion/tests/test_postgres_sink.py
Due: pytest-ingestion

fix(ingestion): bound each game's play-by-play poll so one flaky game can't stall the rest
  ingestion/src/__main__.py
  ingestion/src/collectors/playbyplay.py
  ingestion/src/resilience/retry.py
  ingestion/tests/test_main_orchestrator.py
  ingestion/tests/test_retry.py
Due: pytest-ingestion

fix(ingestion): derive game status from ESPN's state and fetch the scoreboard once a cycle
  ingestion/src/__main__.py
  ingestion/src/collectors/scoreboard.py
  ingestion/tests/test_main_orchestrator.py
  ingestion/tests/test_scoreboard.py
Due: pytest-ingestion

test(integration): the wiping fixture also requires a *_it or *_test database name
  tests/integration/db_guard.py
  tests/integration/test_db_guard.py
Due: none

build: pin every service's dependencies for deploys and CI; require Python 3.12
  .github/workflows/ci.yml
  api/constraints.txt
  api/pyproject.toml
  deploy/oci/README.md
  deploy/oci/remote/deploy.sh
  deploy/tests/test_constraints.py
  deploy/tests/test_remote_deploy_flow.py
  ingestion/constraints.txt
  ingestion/pyproject.toml
  lumen-bot/constraints.txt
  lumen-bot/pyproject.toml
Due: none

docs(deploy): never deploy mid-game; keep live_slate_check short during live games
  deploy/oci/README.md
Due: none

docs(design): Lunara design-system and de-AI-look pass spec
  docs/superpowers/specs/2026-09-25-lunara-design-system-design.md
Due: none

docs(plan): Lunara design-system implementation plan (16 tasks)
  docs/superpowers/plans/2026-09-25-lunara-design-system.md
Due: none

feat(api): last season's final standings until the regular season starts; playoff seeds
  api/src/models/schemas.py
  api/src/services/espn_client.py
  api/src/services/standings_service.py
  api/tests/fixtures/espn_standings_2026.json
  api/tests/fixtures/espn_standings_2027_preseason.json
  api/tests/test_espn_client.py
  api/tests/test_standings_fallback.py
Due: pytest-api

feat(frontend): design tokens and Vitest; alias legacy CSS vars to tokens
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/styles.css
  frontend/src/styles/tokens.css
  frontend/src/styles/tokens.test.js
  frontend/src/test/setup.js
  frontend/vitest.config.js
Due: none

fix(frontend): don't redefine token vars in legacy styles.css
  frontend/src/styles.css
  frontend/src/styles/tokens.test.js
Due: none

Path conditions:
  pytest-api: any of: ^api/ and \.py$
  pytest-ingestion: any of: ^ingestion/ and \.py$
