Repository untitled114/lunara-sports: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-api, pytest-ingestion

pytest-api:
  name: pytest api (75% coverage)
  entry: bash -c 'cd api && python3 -m pytest tests/ -q --tb=short --no-header --cov=src --cov-fail-under=75'
  language: system
  pass_filenames: false

pytest-ingestion:
  name: pytest ingestion (75% coverage)
  entry: bash -c 'cd ingestion && python3 -m pytest tests/ -q --tb=short --no-header --cov=src --cov-fail-under=75'
  language: system
  pass_filenames: false

docs: rewrite README for data engineering portfolio, update project status
  README.md
Due: none

docs: rewrite README for data engineering portfolio, update project status
  CLAUDE.md
  README.md
Due: none

perf: fix Core Web Vitals — CLS 0.17→<0.1, INP 344ms→<200ms
  frontend/src/components/layout/AppLayout.jsx
  frontend/src/components/sport/LiveFeed.jsx
  frontend/src/components/sport/ScoreTicker.jsx
  frontend/src/components/ui/CommandBar.jsx
  frontend/src/styles.css
Due: none

perf: reduce live feed latency from ~17s to ~3s, fix CWV accessibility
  api/src/kafka/consumer.py
  api/src/services/scoreboard_poller.py
  api/src/ws/play_poller.py
  docker-compose.yml
  frontend/index.html
  frontend/public/branding/background-1-alt.webp
  frontend/public/branding/branding-1.webp
  frontend/public/robots.txt
  frontend/src/components/layout/AppLayout.jsx
  frontend/src/components/sport/BoxScore.jsx
  frontend/src/components/sport/LiveFeed.jsx
  frontend/src/components/sport/PickTracker.jsx
  frontend/src/constants/branding.js
  frontend/src/hooks/useGameFeed.js
  frontend/src/pages/GameDetailPage.jsx
  frontend/src/utils/teamColors.js
  frontend/tailwind.config.js
  ingestion/src/config.py
Due: pytest-api, pytest-ingestion

perf: decouple PBP polling, fix WS history overwrite, mount API schemas
  api/src/main.py
  docker-compose.yml
  frontend/src/hooks/useGameFeed.js
  ingestion/src/__main__.py
Due: pytest-api, pytest-ingestion

perf: aggressive interval tuning — sync play feed with ESPN
  api/src/services/scoreboard_poller.py
  api/src/ws/play_poller.py
  frontend/src/hooks/useGameFeed.js
  ingestion/src/__main__.py
Due: pytest-api, pytest-ingestion

perf: eliminate polling overload + GPU drain, fix all tests
  api/src/main.py
  api/src/services/scoreboard_poller.py
  api/tests/test_scoreboard_poller_ext.py
  frontend/src/components/sport/BoxScore.jsx
  frontend/src/components/sport/GameCard.jsx
  frontend/src/components/sport/LiveFeed.jsx
  frontend/src/components/sport/ScoreTicker.jsx
  frontend/src/hooks/useGameFeed.js
  frontend/src/hooks/useScoreboard.js
  frontend/src/pages/GameDetailPage.jsx
  frontend/src/pages/GamesPage.jsx
  frontend/src/styles.css
  tests/conftest.py
  tests/integration/test_dlq.py
  tests/integration/test_pipeline_e2e.py
  tests/integration/test_retry_integration.py
Due: pytest-api

perf: Lighthouse fixes — code splitting, WebP images, heading a11y, SEO
  frontend/public/branding/background-1.webp
  frontend/public/branding/background-2.webp
  frontend/public/branding/mlb-site.webp
  frontend/public/branding/mllb-logo.webp
  frontend/public/branding/nba-logo.webp
  frontend/public/branding/nba-site.webp
  frontend/public/branding/nfl-logo.webp
  frontend/public/branding/nfl-site.webp
  frontend/public/branding/transitions/branding-2.webp
  frontend/public/branding/transitions/main-1.webp
  frontend/public/branding/transitions/main-2.webp
  frontend/public/branding/transitions/main-3.webp
  frontend/public/sitemap.xml
  frontend/src/App.jsx
  frontend/src/components/layout/AppLayout.jsx
  frontend/src/constants/branding.js
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/PlayersPage.jsx
  frontend/src/pages/StandingsPage.jsx
  frontend/src/pages/StatsPage.jsx
  frontend/src/pages/TeamsPage.jsx
  frontend/vercel.json
  frontend/vite.config.js
Due: none

fix: restore "Sports" text on landing hero, reduce preconnects
  frontend/index.html
  frontend/src/pages/LandingPage.jsx
Due: none

fix: make DateNav responsive on mobile
  frontend/src/components/sport/DateNav.jsx
Due: none

fix: mobile optimization — layout, fonts, spacing, touch targets
  frontend/src/App.jsx
  frontend/src/components/layout/AppLayout.jsx
  frontend/src/components/sport/BottomNav.jsx
  frontend/src/components/sport/PickCard.jsx
  frontend/src/components/sport/ScoreTicker.jsx
  frontend/src/pages/GamesPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/PicksPage.jsx
  frontend/src/styles.css
Due: none

fix: scoreboard filter overflow + team detail mobile layout
  frontend/src/pages/GamesPage.jsx
  frontend/src/pages/TeamDetailPage.jsx
Due: none

fix: GameDetailPage scoreboard — side-by-side teams on mobile, circular logos
  frontend/src/pages/GameDetailPage.jsx
Due: none

docs: add architecture audit, integration plan, and next-phase roadmap
  docs/ARCHITECTURE.md
  docs/SPORT_SUITE_INTEGRATION.md
  docs/next/01-VITE-MIGRATION-CHECKLIST.md
  docs/next/02-SPORT-SUITE-API-CONTRACT.md
  docs/next/03-SPORT-SUITE-DB-POOLS.md
  docs/next/04-PICK-FEEDBACK-LOOP.md
  docs/next/05-GCP-MIGRATION.md
  docs/next/06-OLAP-V4-FEATURES.md
  docs/next/07-LUMEN-LIVE-TRACKER.md
  docs/next/08-HETZNER-DECOMMISSION.md
  docs/next/ADR-005-pubsub-replaces-kafka-on-gcp.md
  docs/next/ROADMAP.md
Due: none

feat: Phase 2 — dual-path pick sync (API + file fallback)
  api/src/config.py
  api/src/db/models.py
  api/src/services/pick_sync_poller.py
  api/src/services/pick_sync_service.py
  api/tests/test_pick_sync_poller.py
  api/tests/test_pick_sync_service.py
  storage/postgres/migrations/010_sport_suite_id.sql
Due: pytest-api

feat: Phase 4 — pick result feedback loop to Sport-Suite
  api/src/main.py
  api/src/services/pick_tracker_poller.py
  api/src/services/sport_suite_client.py
  api/tests/test_pick_tracker_poller.py
  api/tests/test_sport_suite_client.py
Due: pytest-api

feat: Phase 5 — GCP migration infrastructure
  ingestion/pyproject.toml
  ingestion/src/__main__.py
  ingestion/src/config.py
  ingestion/src/producers/pubsub_producer.py
  ingestion/tests/test_main_orchestrator.py
  ingestion/tests/test_pubsub_producer.py
  scripts/gcp-setup.sh
  stream-processor-pubsub/Dockerfile
  stream-processor-pubsub/requirements.txt
  stream-processor-pubsub/src/processor.py
Due: pytest-ingestion

fix: Cloud Run deployment — health servers, GCP extras, correct project ID
  ingestion/Dockerfile
  ingestion/src/__main__.py
  scripts/gcp-setup.sh
  stream-processor-pubsub/src/processor.py
Due: pytest-ingestion

feat: Phase 3 — rolling stats + injury enrichment from Sport-Suite API
  api/src/db/models.py
  api/src/routers/picks.py
  api/src/services/pick_sync_service.py
  frontend/src/components/sport/PickCard.jsx
  storage/postgres/migrations/011_rolling_stats_injury.sql
Due: pytest-api

feat: Phase 6 — OLAP Parquet export to GCS for V4 retraining
  api/pyproject.toml
  api/src/config.py
  api/src/main.py
  api/src/services/olap_exporter.py
  api/src/services/olap_poller.py
  api/tests/test_olap.py
  docs/next/ROADMAP.md
Due: pytest-api

feat: Phase 7 — Cephalon Lumen bot for Lunara Sports pick alerts
  lumen-bot/Dockerfile
  lumen-bot/bot.py
  lumen-bot/cephalon-lumen.service
  lumen-bot/config.yaml
  lumen-bot/formatter.py
  lumen-bot/pyproject.toml
  lumen-bot/ws_listener.py
Due: none

Path conditions:
  pytest-api: any of: ^api/ and \.py$
  pytest-ingestion: any of: ^ingestion/ and \.py$
